body {
  margin: 5%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

h1 {
  font-family: 'Geologica', sans-serif;
  font-size: 56px;
  text-align: center;
}

#input-email input {
  border: none;
  background-color: #f2f2f2;
  width: 95%;
}

#input-age-verification {
  color: #949494;
}

#input-submit input {
  background-color: #3de369;
  color: white;
  text-align: center;
}
